<app-welcome-box></app-welcome-box>
<div class="box-subtitle">
  <p class="subtitle">
    Adicione suas questões seguindo o formato Json
    <br />
    <span>Como formatar seu <a>Json</a>?</span>
  </p>
  <div class="body-json">
    <textarea
      class="json-text"
      [(ngModel)]="codigoJSON"
      rows="10"
      cols="40"
    ></textarea>
    <div class="body-resp">
      <button class="btn btn-primary" (click)="exibirJSON()">
        Validar JSON
      </button>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false">
  <h3 class="modal-title">
    Ops! Parece que seu Json não está no formato adequado
  </h3>
  <div class="modal-body">
    <p>Click <a href="">aqui</a> para saber como formatar seu Json</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="opened = false">
      Voltar para tela inicial
    </button>
  </div>
</clr-modal>
