<div class="main">
  <div class="container-question">
    <p class="question-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <app-alternative-box class="alternative-box"></app-alternative-box>
    <button class="btn-next btn btn-success">Next</button>
  </div>
</div>
