.main {
  display: flex;

  flex-direction: row;
}

.bar {
  z-index: 0;
  border: 1px solid #ffff;
  border-radius: 6px;
  margin-right: 0.5rem;
  margin-left: 1rem;
  width: 100%;
  height: 1.5rem;
}

.experinceBar {
  z-index: 1;
  background-color: green;
  border-radius: 6px;
  height: 100%;
}
