<div class="container clr-form-control">
  <div class="clr-control-container clr-control-inline">
    <div class="clr-radio-wrapper">
      <input
        type="radio"
        id="vertical-radio1"
        name="radio-full"
        value="option1"
        class="clr-radio"
      />
      <label for="vertical-radio1" class="clr-control-label">option 1</label>
    </div>
    <div class="clr-radio-wrapper">
      <input
        type="radio"
        id="vertical-radio2"
        name="radio-full"
        value="option2"
        class="clr-radio"
      />
      <label for="vertical-radio2" class="clr-control-label">option 2</label>
    </div>
    <div class="clr-radio-wrapper">
      <input
        type="radio"
        id="vertical-radio3"
        name="radio-full"
        value="option3"
        class="clr-radio"
      />
      <label for="vertical-radio3" class="clr-control-label">option 3</label>
    </div>
    <div class="clr-radio-wrapper">
      <input
        type="radio"
        id="vertical-radio12"
        name="radio-full"
        value="option12"
        class="clr-radio"
      />
      <label for="vertical-radio12" class="clr-control-label">option 1</label>
    </div>
  </div>
</div>
